[submodule "async_http_server_example"]
	path = async_http_server_example
	url = git@github.com:thor314/async_http_server_example.git
[submodule "grpc-client-server"]
	path = grpc-client-server
	url = git@github.com:thor314/grpc-client-server.git
[submodule "rocket-examples"]
	path = rocket-examples
	url = git@github.com:thor314/rocket-examples.git
